extends base.pug

block content
    //-video 컨트롤러를 직접 생성한 부분이라고만 알면 될듯함.
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn 
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range", step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range", step="0.1", value="0.5", min="0", max="1")#volume
                span#mute 
                    i.fas.fa-volume-up
            div 
                span#fullScreen
                    i.fas.fa-expand

    //-video 조회를 하면 보이는 부분.
    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    //-login한 유저만 볼 수 있도록 if 사용
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice comment...")#textarea
                button Add comment
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    i.fas.fa-comment
                    span  #{comment.text}
                    if String(comment.owner) === String(loggedInUser._id)
                        span.delete__icon ❌
    block scripts 
    script(src="/static/js/videoPlayer.js")
    //-login한 상태일때만 첨부.
    if loggedIn
        script(src="/static/js/commentSection.js")